
<script>
    // in app.svelte 
    // window.onpopstate = a function - can add one 
    // window.addEventListener("popstate", () => {})- can add many 

    
</script>


<nav>
    <ul>
        <li><a href="#home">Home</a></li>
        <!-- Can use window.location.hash to find what is after # -->
        <% if (locals.loggedIn) { %>
        <li><a href="#">Profile</a></li>
        <li><a href="#home">Logout</a></li>
        <% } else { %> 
        <li><a href="#login">Login</a></li>
        <% } %> 
    </ul>
</nav>

<!-- OR -->
<nav>
    <%- nav %>
</nav>