<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

<img id="delorean-img" src="/images/vehicles/delorean.jpg" alt="delorean background illustration">

<div id="intro">
    <h2>DMC Delorean</h2>
    <div>
        <p>3 Cup holders <br>
        Superman doors <br>
        Fuzzy dice!</p>
    </div>
    <a id="own" href="#top">Own Today</a>
</div>