@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* CSS for all pages */

/* Variables */

:root {
    --main-color: rgb(125, 50, 50);
    --dark1: rgb(161, 77, 47);
    --dark2: rgb(62, 86, 34);
    --light1: rgb(255, 221, 187);
    --light2: rgb(192, 218, 155);
}

* {
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 16px;
}

/* Header */

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.logo {
    width: 50px;
    height: auto;
}

.header-link {

}

nav {
    background-color: var(--dark1);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Main */

main {
    margin: 0 50px;
}

/* Footer */

footer {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
}

/* CSS for index.html */


/* CSS for livestock.html */


/* CSS for handbooks.html */


/* CSS for employees.html */


/* CSS for taxes.html */


/* CSS for resources.html */



/* Media Queries */

@media screen and (min-width: 600px) {
    
}