@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* CSS for all pages */

/* Variables */

:root {
    --main-color: rgb(125, 50, 50);
    --dark1: rgb(161, 77, 47);
    --dark2: rgb(62, 86, 34);
    --light1: rgb(255, 221, 187);
    --light2: rgb(192, 218, 155);
}

* {
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 16px;
}

/* Header */

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.logo {
    width: 100px;
    height: auto;
}

.header-link {

}

nav {
    background-color: var(--dark1);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

#cows-li:hover #cows-div{
    display: flex;
}

#cows-div {
    background-color: var(--dark1);
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 20px -10px;
    display: none;
}

#cows-div a {
    padding: 15px;
    text-decoration: none;
}

#cows-div a:first-of-type {
    padding: 25px 15px 15px 15px;
}

/* Main */

main {
    margin: 0 50px;
}

/* Footer */

footer {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
}

/* Cows view, edit, add */

.cows {
    /* div container for .cow divs > forms */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cow {
    /* a div containing a form */
    border: 5px solid var(--dark1);
    width: 500px;
    padding: 0 10px;
    margin: 10px 0;
}

.cow form fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 0;
}



/* Media Queries */

@media screen and (min-width: 600px) {
    
}