<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>YOU ARE IN VIEW ONLY MODE.</p>
<a href="/cows/edit">Edit Information</a>
<a href="/cows/add">Add New Information</a>

<%- viewInfo %> 